.Formulario{
	width: 25vh;
	height: 45vh;
	margin-right: 5vh;
}
.label{
	max-width: 100%;
	color: blue;
}
.input{
	max-width: 100%;
}
.boton{
	border-radius: 70%;
	  background-color:white; /* Green */
    border: none;
    color:green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
}
.label{
	max-width: 100vh;
}
.contenedor{
	 display: flex;
	 flex-wrap: wrap;
	 padding: 5%;
}
.contenido{
	min-width: 100%;
	padding: 5%;
	min-height: 100%;
	border-radius: 5%;
	background-color: green;
	margin-right: 3%;
}
.imgMoneda {
	
	width:90%;
	height: 50%;
}
